    body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #77f749, #b2ff7e);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-box {
      background: #fff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      width: 320px;
      text-align: center;
    }

    h2 {
      margin-bottom: 1rem;
    }

    input {
      width: 90%;
      padding: 12px;
      margin: 8px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      width: 100%;
      padding: 12px;
      background: linear-gradient(to right, #42ff90, #6ae735);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .message {
      font-size: 0.9rem;
      color: red;
      margin-top: 5px;
    }

    .toggle-text {
      margin-top: 15px;
      font-size: 0.9rem;
    }

    .toggle-text a {
      color: #2575fc;
      cursor: pointer;
      text-decoration: underline;
    }

    .social-icons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 15px;
    }

    .social-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
    }

    .social-icons img:hover {
    transform: scale(1.15);
    }

